$bgcolor: #ffffff;

body{
    margin: 0;
    padding: 0;
    background: $bgcolor;
    position: relative;
    overflow: hidden;
}

a{
    text-decoration: none;
}

.icon{
    height: 30px;
    width: 30px;
}